@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/** Header **/
.header{
    background-color: #1f2937;
    color: #f9faf8;
    margin: 0;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
.hl{
    color: #e5e7eb;
    text-decoration: none;
    flex: 1;
}
/*** First Section ***/
.section-one{
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
}
.content-one{
    width: 525px;
    height: auto;
    padding: 10px;
}
.main-title{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.main-paragraph{
    color: #e5e7eb;
    font-size: 18px;
    width: 375px;
}
.main-img{
    width: 400px;
    height: auto;
    flex-shrink: 1;
}
.main-img-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sign-up{
    background-color: #2882f6;
    color: #e5e7eb;
    width: 80px;
    padding: 4px;
    border-radius: 15%;
}

/** Section 2 **/

.section-two{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-info{
    display: flex;
    justify-content: center;
    gap: 26px;
}
.sub-img{
    width: 150px;
    height: 150px;
    border: 10px solid #3882f6;
    border-radius: 10%;
}
.img-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub{
    width: 150px;
}
.title-two{
    font-size: 36px;
    font-weight: 900;
}